$bg-primary: #011f41;
$bg-secondary: #111;
$font-color-primary: #ccd6f6;
$font-color-secondary: #fca311;
$color-card: #111;
$project-card: #20272e98;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 5rem;
}

body {
    background-color: $bg-primary;
    font-family: "Montserrat", sans-serif;
}
img {
    max-width: 100%;
    height: auto;
}

h1 {
    width: fit-content;
    // border-bottom: $font-color-secondary 2px solid;
}

a {
    color: black;
    text-decoration: none;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.container {
    max-width: 75vw;
    margin: 0 auto;
    height: auto;
}
.card {
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-hd {
    margin: 2rem auto;
    position: relative;
    font-size: 3rem;
    color: $font-color-primary;
    &::after {
        content: "";
        display: block;
        width: 55px;
        text-align: center;
        height: 2px;
        background: #fca311;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10px;
        position: absolute;
    }
}

span {
    color: white;
}
#hi {
    font-size: 2.5rem;
    color: $font-color-secondary;
}

//scroll in out js lib custom attr

[data-scroll] {
    transition: all 2s;
}

[data-scroll="in"] {
    opacity: 1;
    transform: translateY(0);
}

[data-scroll="out"] {
    opacity: 0;
    transform: translateY(-10px);
}
